<footer class="footer">
	<section class="footer__top">
		<div class="footer__top-overlay">
			<h2 class="footer__title" data-aos="fade-up">Остались вопросы? Свяжитесь с нами!</h2>
		</div>
	</section>
	<section>
		<div class="footer__top-contacts">
			<div class="phone-ripple-container">
				<div class="ripple-circle"></div>
				<div class="ripple-circle"></div>
				<div class="ripple-circle"></div>
				<a href="tel:89272070505" class="contact-icon--phone" aria-label="Позвонить">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72c.127.96.361 1.903.7 2.81a2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45c.907.339 1.85.573 2.81.7A2 2 0 0122 16.92z"/>
					</svg>
				</a>
			</div>
		</div>
	</section>
	<section class="footer__main">
		<div class="footer__main-bg">
			<div class="footer__container">
				<div class="footer__map" data-aos="fade-up">
					<h3 class="footer__map-title">Мы находимся здесь</h3>
					<div class="map-placeholder">
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf2bc229eda92c3c2fdc9ad7b4a2acf786d03f248f68053170056588f6a8ff51&amp;source=constructor" frameborder="0"></iframe>
					</div>
				</div>
				<div class="footer__contacts-grid" data-aos="fade-up" data-aos-delay="200">
					<div class="footer__contacts-column">
						<p>г. Самара,<br>Партизанская улица, 17литЕ</p>
						<p><strong>Сот.</strong> <a href="tel:89272070505">8-927-207-05-05</a></p>
						<p><strong>Гор.</strong> <a href="tel:88469722030">8 (846) 972-20-30</a></p>
					</div>
					<div class="footer__contacts-column">
						<p><strong>Email:</strong> <a href="mailto:skoropol@yandex.ru">skoropol@yandex.ru</a></p>
						<p><strong>Viber:</strong> <a href="viber://chat?number=89272070505">8-927-207-05-05</a></p>
						<p><strong>Работаем:</strong><br>с 9:00 до 21:00, без выходных</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="footer__copyright">
		<div class="footer__container">
			<p>© <span id="currentYear"></span> СКОРОпол. Услуги по монтажу сухой сборной стяжки Knauf. Все права защищены.</p>
		</div>
	</div>
</footer>