<div class="header-news" id="headerNews">
	<div class="header-news__container">
		<div class="news-block">
			<div class="news-block__header">
				<span class="news-block__label">НОВОСТИ</span>
			</div>
			
			<div class="news-slider">
				<div class="news-slider__track" id="newsSliderTrack">
					<div class="news-slider__slide">
						<div class="news-slide">
							<div class="news-slide__image">
								<img src="images/news/new.jpg" alt="Knauf">
							</div>
							<div class="news-slide__content">
								<div class="news-slide__title">Закупили Knauf</div>
								<div class="news-slide__text">Новая партия оригинальных материалов</div>
							</div>
						</div>
					</div>
					<div class="news-slider__slide">
						<div class="news-slide">
							<div class="news-slide__image">
								<img src="images/news/money.jpg" alt="Скидка">
							</div>
							<div class="news-slide__content">
								<div class="news-slide__title">Скидка 10%</div>
								<div class="news-slide__text">На сыпучие материалы до конца месяца</div>
							</div>
						</div>
					</div>
					<div class="news-slider__slide">
						<div class="news-slide">
							<div class="news-slide__image">
								<img src="images/news/sdelka.jpeg" alt="Прайс">
							</div>
							<div class="news-slide__content">
								<div class="news-slide__title">Новый прайс</div>
								<div class="news-slide__text">Обновили цены на монтаж</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="news-slider__dots" id="newsSliderDots">
					<span class="dot active"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</div>
			</div>
		</div>
	</div>
</div>